* {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  font-family: cursive;
}

body {
  background-color: aqua;
}

.title {
  font-family: cursive;
  position: absolute;
  font-size: xx-large;
  top: 20%;
  left: 48%;
  z-index:1;
  transform: translate(-20%, -48%);
}

.frame {
  position: absolute;
  height: 15rem;
  aspect-ratio: 2/1;
  border-radius: 2%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.2rem 0.2rem 2rem 0.5rem black;
}

.frame h1 {
  font-size: 500%;
  text-align: center;
}

.buttons {
  display: flex;
  padding: 5rem 1rem;
  justify-items: baseline;
  justify-content: space-between;
}

.buttons button {
  background-color: aqua;
  color: black;
  width: 80px;
  border-radius: 8%;
}

.dot1,
.dot2,
.dot3,
.dot4 {
  position: absolute;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  animation: floating 3s ease-in-out infinite;
}

.dot1 {
  top: 480px;
  left: -50px;
  background-color: yellowgreen;
}

.dot2 {
  top: 500px;
  right: 10px;
  background-color: orange;
  opacity: 0.8;
}

.dot3 {
  top: 40px;
  left: 150px;
  background-color: coral;
}

.dot4 {
  top: -100px;
  right: 80px;
  background-color: darkgoldenrod;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
